<div class="container">

    <!-- Header logo -->
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Angular Reviews</a>
    </div>

    <!-- Category navigation -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-repeat="category in categories" ng-class="{open: currentCategory && currentCategory === category.Id}">

            <a href="#" ng-bind="category.Name" class="dropdown-toggle" ng-click="selectCategory(category)" role="button" aria-expanded="false"></a>

            <ul class="dropdown-menu" role="menu">
                <li><a ng-href="{{ category.Id }}" ng-bind="'All ' + category.Name"></a></li>

                <li class="divider" role="separator" ng-if="category.children.length"></li>

                <li ng-repeat="child in category.children">
                    <a ng-href="{{ child.Id }}" ng-bind="child.Name"></a>
                </li>
            </ul>

        </li>
    </ul>

</div>