<nav class="pagination">

    <!-- Pagination list -->
    <ul class="pagination__items">

        <!-- Previous page -->
        <li class="pagination__item pagination__item--prev">
            <a ng-href="{{ {page: pageInfo.previous} | urlQuery }}"><span aria-hidden="true">&lsaquo;</span></a>
        </li>

        <!--Loop over pages -->
        <li class="pagination__item" ng-repeat="pageNumber in [pageInfo.firstPage, pageInfo.lastPage] | makeRange" ng-class="{ 'pagination__item--active': pageInfo.current === pageNumber }">
            <a ng-href="{{ {page: pageNumber} | urlQuery }}" ng-bind="pageNumber"></a>
        </li>

        <!-- Next page -->
        <li class="pagination__item pagination__item--next">
            <a ng-href="{{ {page: pageInfo.next} | urlQuery }}"><span aria-hidden="true">&rsaquo;</span></a>
        </li>

    </ul>

    <p class="pagination__summary" ng-if="summary">
        Showing <strong>{{ pageInfo.start }}</strong> - <strong>{{ pageInfo.end }}</strong> of <strong>{{ pageInfo.totalResults }}</strong>
    </p>

</nav>