<article class="product-item">

    <!-- Product image -->
    <a class="product-item__image" ng-href="product/{{ product.Id }}">
        <img ng-src="{{ product.ImageUrl }}" alt="{{ product.Name }}"/>
    </a>

    <!-- Product summary -->
    <div>
        <a class="product-item__title" ng-href="product/{{ product.Id }}" ng-bind="product.Name || product.Id"></a>
        <span class="product-item__secondary" ng-bind="product.Id" ng-if="product.Name"></span>
        <div ng-include="'/templates/_ratingSummary.html'"></div>
    </div>

</article>