<article class="review-item">

    <h1 class="review-item__title" ng-bind="review.Title"></h1>
    <span class="review-item__author" ng-bind="review.AuthorId"></span> -
    <span class="review-item__date" ng-bind="review.SubmissionTime | date"></span>

    <!-- Feedback count -->
    <p ng-if="review.TotalPositiveFeedbackCount && review.TotalFeedbackCount"><span ng-bind="review.TotalPositiveFeedbackCount"></span> of <span ng-bind="review.TotalFeedbackCount"></span> people found this review helpful.</p>

    <div app-review-summary="{ max: review.RatingRange, rating: review.Rating }"></div>

    <!-- Content -->
    <p class="review-item__content" ng-bind="review.ReviewText"></p>

</article>