<div class="review-summary" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">

    <progress class="review-summary__rating" max="{{ summary.max }}" value="{{ summary.rating }}"></progress>

    <div class="review-summary__meta">
        Average rating:
        <span itemprop="ratingValue" ng-bind="summary.rating | number:0"></span> out of
        <span itemprop="bestRating" ng-bind="summary.best | number:0"></span> with
        <span itemprop="ratingCount" ng-bind="summary.total || 1"></span> ratings
    </div>

    <p class="review-summary__total" ng-if="summary.total" ng-bind="'(' + summary.total + ' customer reviews)'"></p>

</div>