<form class="form review-form" name="reviewForm" ng-submit="submit(form, !review)" novalidate>

    <p class="review-form__message" ng-if="review">Please confirm you are happy with this review. Once submitted, your review should be published within {{ review.delay }} hours.</p>
    <p class="review-form__message review-form__message--success" ng-if="success">Your review was successfully posted. Your review should be published within {{ review.delay }} hours.</p>
    <p class="review-form__message review-form__message--error" ng-if="error">There was an error with posting your review. Please check and try again.</p>

    <fieldset ng-hide="success || review">
        <legend>Write a review</legend>

        <div ng-model="form.author" input-wrap="{
            model: form,
            name: 'author',
            label: 'Name',
            placeholder: 'Enter your name',
            minlength: 3,
            required: true,
            error: 'A display name is required (at least 3 characters long).' }">
        </div>

        <div ng-model="form.email" input-wrap="{
            model: form,
            name: 'email',
            type: 'email',
            label: 'Email',
            placeholder: 'Enter your email address',
            minlength: 3,
            required: true,
            error: 'Enter a valid email.' }">
        </div>

        <div ng-model="form.title" input-wrap="{
            model: form,
            name: 'title',
            label: 'Title',
            placeholder: 'Review headline',
            minlength: 3,
            required: true,
            error: 'Enter a headline.' }">
        </div>

        <div class="form-element">
            <span class="form__label">Rating *</span>
            <rating ng-model="form.rating" editable="true" required="true"></rating>
        </div>

        <div ng-model="form.comment" input-wrap="{
            model: form,
            name: 'comment',
            type:'textarea',
            label: 'Comment',
            placeholder: 'Write a comment...',
            minlength: 50,
            required: true,
            error: 'Please enter a review minimum 50 characters).' }">
        </div>

        <div ng-model="terms" input-wrap="{
            model: form,
            name: 'terms',
            type:'checkbox',
            label: 'I accept the Terms and Conditions',
            minlength: 50,
            required: true,
            error: 'Please confirm you have accepted the Terms and Conditions.' }">
        </div>

    </fieldset>

    <div ng-show="review">
        <div class="review-form__preview" app-review-item="review"></div>
    </div>

    <button class="button" type="button" ng-click="$parent.review = !review" ng-if="review">&lsaquo; Edit review</button>
    <button class="button button--primary" ng-if="!success" type="submit" ng-disabled="reviewForm.$invalid" ng-bind="(review ? 'Submit' : 'Preview') + ' review'"></button>

</form>