<form class="form review-form" name="reviewForm" ng-submit="submit(form)" novalidate>

    <fieldset ng-hide="review">
        <legend>Write a review</legend>

        <label class="form__label" for="author">Name *</label>
        <input class="form__input" type="text" name="author" id="author" ng-model="form.author" placeholder="Enter your name" minlength="3" required>
        <p class="form__message" ng-show="reviewForm.author.$invalid && reviewForm.author.$touched">A display name is required (at least 3 characters long).</p>

        <label class="form__label" for="author">Email *</label>
        <input class="form__input" type="email" name="email" id="email" ng-model="form.email" placeholder="Enter your email address" minlength="3" required>
        <p class="form__message" ng-show="reviewForm.email.$invalid && reviewForm.email.$touched">Enter a valid email.</p>

        <label class="form__label" for="title">Title *</label>
        <input class="form__input" type="text" name="title" id="title" ng-model="form.title" placeholder="Headline for your review" required>
        <p class="form__message" ng-show="reviewForm.title.$invalid && reviewForm.title.$touched">Please enter a valid headline.</p>

        <label class="form__label" for="comment">Review *</label>
        <textarea class="form__input" name="comment" id="comment" ng-model="form.comment" rows="8" placeholder="Write a comment..." minlength="50" required></textarea>
        <p class="form__message" ng-show="reviewForm.comment.$invalid && reviewForm.comment.$touched">Please enter a valid comment (minimum 50 characters).</p>

        <input name="terms" id="terms" ng-model="param.terms" type="checkbox" required>
        <label for="terms"> I accept the <a href="/content/terms-and-conditions">Terms and Conditions</a> * </label>
        <p class="form__message" ng-show="reviewForm.terms.$invalid && reviewForm.terms.$dirty">Please confirm you have accepted the Terms and Conditions.</p>

    </fieldset>

    <div ng-show="review">

        <button class="button" type="button" ng-click="review = !review">&lsaquo; Edit review</button>

        <p class="review-form__message">Please confirm you are happy with this review. Once submitted, your review should be published within {{ review.delay }} hours.</p>

        <div class="review-form__preview" app-review-item="review"></div>
    </div>

    <button class="button button--primary" type="submit" name="confirm" ng-disabled="reviewForm.$invalid" ng-value="{{ !!review }}" ng-bind="(review ? 'Submit' : 'Preview') + ' review'"></button>

</form>