<article class="product-details" itemscope="" itemtype="http://schema.org/Product">

    <header class="product-details__header" ng-repeat="(id, product) in data.product.Includes.Products">
        <section class="product-details__header__summary">
            <div app-product-item="product"></div>
        </section>

        <section class="product-details__header__ratings">
            <p ng-bind="product.Description"></p>
            <div app-review-graph="product.ReviewStatistics"></div>

            <a class="button button--primary" ng-href="review/{{ product.Id }}">Create your own review</a>
        </section>
    </header>

    <section class="product-details__reviews">

        <h2>Reviews</h2>

        <nav app-pagination="data.product"></nav>

        <ul class="review-list__items">
            <li class="review-list__item" ng-repeat="review in data.product.Results">
                <div app-review-item="review"></div>
            </li>
        </ul>

        <nav app-pagination="data.product"></nav>

    </section>

</article>


