<section class="product-list">

    <header class="product-list__header">
        <h1 ng-bind="data.productList.Name || 'All products'"></h1>
        <nav app-pagination="data.productList" app-pagination-summary="true"></nav>
    </header>

    <!-- Product list -->
    <ol class="product-list__items">
        <li ng-repeat="product in data.productList.Results">
            <div ng-include="'/templates/_productItem.html'"></div>
        </li>
    </ol>

    <footer class="product-list__footer">
        <nav app-pagination="data.productList"></nav>
    </footer>

</section>