.product-item {

  &__title { display: block; font-size: 1.1rem; font-weight: 700; color: #000; min-height: 35px; margin: 0 0 0.5rem; text-overflow: ellipsis; word-break: break-word; }

  &__secondary { display: block; font-size: 0.9rem; color: #999; margin: 0 0 0.5rem; }

  &__image {
    & { display: block; height: 160px; line-height: 160px; margin: 0 0 12px; text-align: center; }
    img { vertical-align: bottom; max-height: 100%; max-width: 100%; }
  }

}