.product-item {

  &__title { font-size: 1.1rem; font-weight: 700; color: #000; display: block; min-height: 35px; }

  &__secondary { display: block; font-size: 0.9rem; color: #999; }

  &__image {
    & { display: block; height: 160px; line-height: 160px; margin: 0 0 12px; text-align: center; }
    img { vertical-align: bottom; max-height: 100%; max-width: 100%; }
  }

}