.product-list {

  & { @include section() }

  &__header { border-bottom: 1px solid #ddd; margin: 0 0 1rem; }

  &__items {
    & { display: grid; grid-gap: 1.5rem; grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); list-style: none; padding: 1rem 0 0; }
    & > li { flex: 160px 0 0; }
  }

  &__footer { border-bottom: 1px solid #ddd; }

}