.product-list {

  & { background: #fff; padding: 30px; }

  &__header { border-bottom: 1px solid #ddd; margin: 0 0 1rem; }

  &__items {
    & { display: grid; grid-gap: 20px; grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); list-style: none; padding: 15px 0; }
    & > li { flex: 160px 0 0; }
  }

  &__footer { border-bottom: 1px solid #ddd; }

}