.product-details {

  &__header {

    & {display: flex; }

    &__summary { @include section(); flex: 240px 0 0; margin-right: 1rem; }
    &__ratings { @include section(); flex-grow: 1; }

    @media only screen and (max-width: 545px) {
      & { display: block; }
      &__summary { margin-right: 0; }
    }
  }

  &__reviews { @include section(); }

}