.review-graph {
  & { margin: 0 0 1rem;}

  &__title { font-size: 1.2rem; }

  &__items { list-style: none; }
  &__item { margin: 0 0 0.5rem; }
  &__label { margin-right: 0.3rem; font-weight: 700; }

  &__bar {
    & { width: 12rem; height: 14px; display: inline-block; -webkit-appearance: none; border: none; }
    &::-webkit-progress-bar { background: #ddd; border-radius: 1rem; box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2); }
    &::-webkit-progress-value { border-radius: 1rem; box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4); background: #223388; }
  }

}